body {
    background-image: url(../images/bridge2000w.jpg);
}

h3 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#lion-info {
    background-color: #c10b0b;
    color: #f9f952;
}

#snake-info {
    background-color: #107230;
    color: #c1c1c1;
}

#eagle-info {
    background-color: #1e43b2;
    color: #c49821;
}

#badger-info {
    background-color: #e8db55;
    color: black;
}

.card-body {
    height: 50px;
    padding: 0px;
    line-height: 0;
}